.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    color: #00C
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    text-indent: 2em;
    margin: 1em 0
    }
.calibre4 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre5 {
    height: 0.1em;
    width: auto
    }
.kindle-cn-bodycontent-div-alone {
    display: block;
    text-align: center;
    width: 100%
    }
.kindle-cn-bodycontent-image-alone {
    height: auto;
    margin-bottom: 0.5em;
    width: 100%
    }
.kindle-cn-bold {
    font-weight: bold
    }
.kindle-cn-copyright-text {
    display: block;
    line-height: 1.618em;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-heading {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    width: 100%;
    margin: 0.67em 0;
    padding: 0.75em 0;
    border-top: #c7c7c7 dashed 2px;
    border-bottom: #c7c7c7 dashed 2px
    }
.kindle-cn-heading1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    width: 100%;
    margin: 0.83em 0
    }
.kindle-cn-heading2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.kindle-cn-inline-character {
    height: auto;
    vertical-align: middle;
    width: 1em
    }
.kindle-cn-para-center {
    display: block;
    font-size: 0.75em;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-para-no-indent {
    display: block;
    font-weight: bold;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-signature {
    display: block;
    text-align: right;
    text-indent: 2em;
    margin: 1em 0
    }
.kindle-cn-toc-level {
    display: block;
    margin-left: 0
    }
.kindle-cn-toc-level1 {
    display: block
    }
.kindle-cn-toc-title {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    text-align: center;
    border-bottom: #000 dotted 1.5px
    }
.math-super {
    font-size: 0.75em;
    vertical-align: super
    }
